*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Bigbox{
    background-color: black;
    padding: 20px;
}
.icons{
    height:65px;
    width:200px;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:5%;
    gap: 25px;
    padding: 20px; 
    margin-left: 530px;
} 
.icons .fb{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.icons .whatsapp{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.icons .insta{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.icons .git{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.box2{
display: flex;
justify-content: space-around;
}
.box2 ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 20px;
    font-size: 20px;
}
li a{
    
    text-decoration: none;
    color: white;
}

.box3{
    padding: 20px;
    text-align: center;
    font-size: 15px;

}
.box3 p{
    color:white;
}

